/*
 * All natural custom styles
 * @author Khalah Jones Golden
 */


$black: #100601;
$brown: #311A14;
$outline: #8F5420;
$highlight: #F03C02;
$regular: #A30006;


body {
  /*font-family: "Oswald", arial, sans-serif, serif;*/
}
// class based styles 

.height-50 { height: 50%; }
.height-100 { height: 100%; }
.text-center { text-align: center; }
.text-right {text-align: right; }

a {
  @include transition(color, 800ms, ease-in);
}
// styles for fullscreen the home page
//
.home {

  .menu {
    z-index: 4;
    .page_item {
        width: 25%;
        text-align: center;
        background-color: transparent;
        a {
          color: #fff;
          text-transform: uppercase;
          letter-spacing: 2px;
          &:hover {
            color: $highlight;
          }
        }
    }
  }
  #content-wrap {
    background-color: #fff;
    position: relative;
    z-index: 3;
  }
  .container {
    max-width: 700px;
  }

  #page-footer {
    width: 100%;
    color: #eee;
    z-index: 3;
    p {
      margin: 0;
    }
  }
  .title {
    color: $regular;
  }

  .cell {
    border: 1px solid $outline;
    height: 100%;
  }
  #main {
    position: relative;
    overflow: hidden;
  }
  #page-header {
    /*display: none;*/
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index: 4;
    background-color: #000;
  }
  #main-image {
  }
}
#big-logo {
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    top: 321px;
    z-index: 2;

}
#big-img {
  position: absolute;
  z-index: 1;
}
