/*
 * All natural custom styles
 * @author Khalah Jones Golden
 */


$black: #100601;
$brown: #311A14;
$outline: #8F5420;
$regular: #B84415;
$highlight: #F6EBCF;

// class based styles 

.height-50 { height: 50%; }
.height-100 { height: 100%; }

a {
  @include transition(color, 800ms, ease-in);
}
// styles for fullscreen the home page
//
.home {

  .menu {
    position:relative;
    z-index: 4;
    background-color: rgba(10, 06, 01, .8);
    .page_item {
        min-width: 100px;
        text-align: center;
        background-color: transparent;
        a {
          color: $outline;
          &:hover {
            color: $highlight;
          }
        }
    }
  }
  .title {
    color: $regular;
  }

  .cell {
    border: 1px solid $outline;
    height: 100%;
  }
  #main {
    position: relative;
    overflow: hidden;
  }

  #content-wrap {
    position: absolute;
    top: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0;
    background-color: $black;
    .slide {
      width: 100%;
      position: absolute;
      top: 50%;
      left: 0;
      &.frame {
        z-index: 1;
      }
    }
  }
}
